/* CATALOGO PRODUCTOS */

/* phones */
@media only screen and (min-width: 0px) {
  .catalogo--section {
    background-color: #e5e5e5;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  .catalogo--categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .catalogo--h3,
  .catalogo--a {
    padding: 1rem;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .catalogo--h3 {
    font-size: 22px;
  }
  .catalogo--a {
    color: #2a7ae4;
  }
  .catalogo--a img {
    padding: 0.1rem;
  }
  .productos {
    display: grid;
    grid-template-columns: auto auto;
  }
  .productos .catalogo--div:nth-child(5) {
    display: none;
  }
  .productos .catalogo--div:nth-child(6) {
    display: none;
  }
  .catalogo--div {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }
  .catalogo--div p,
  .catalogo--div a {
    padding: 0.25rem;
  }
  .catalogo--div img {
    width: 90%;
  }
}
/* tablets*/
@media only screen and (min-width: 361px) {
  .catalogo--section {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .productos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 0.5rem;
  }
  .catalogo--div p,
  .catalogo--div a {
    font-size: 12px;
  }
}
/* laptops and desktops */
@media only screen and (min-width: 769px) {
  .catalogo--section {
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .productos {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .productos .catalogo--div:nth-child(5) {
    display: block;
  }
  .productos .catalogo--div:nth-child(6) {
    display: block;
  }
}
