/* PRODUCTO */

/* phones */
@media only screen and (min-width: 0px) {
  .producto--destacado {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 1rem;
  }
  .destacado--div--img {
    display: grid;
    background-image: url("../images/productos/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
  }
  .destacado--p {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  #titulo {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 500;
  }
  #precio {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
  }
  #descripcion {
    width: 80%;
    font-size: 14px;
    font-weight: 400;
  }
}
/* tablets*/
@media only screen and (min-width: 361px) {
  .producto--destacado {
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 0rem 1rem;
    row-gap: 0.2rem;
  }
  .destacado--div--img {
    width: 40%;
    display: flex;
    background-image: url("../images/productos/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .destacado--p {
    width: 60%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
  }
  #titulo {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 500;
  }
  #precio {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
  }
  #descripcion {
    width: 80%;
    max-height: 40%;
    font-size: 14px;
    font-weight: 400;
    word-wrap:normal;
  }
}
/* laptops and desktops */
@media only screen and (min-width: 769px) {
  .producto--destacado {
    padding: 2rem 2rem 0.5rem 2rem;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    row-gap: 0.2rem;
  }
  .destacado--div--img {
    min-width: 250px;
    width: 50%;

    background-image: url("../images/productos/1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .destacado--p {
    width: 40%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  #titulo {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 500;
  }
  #precio {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
  }
  #descripcion {
    width: 80%;
    font-size: 14px;
    font-weight: 400;
  }
}
